<div>
  <div class="post">
    <h1>{{cat-name}}</h1>
    <ul class="org-ul">
      {{#posts}}
        <li><a href="{{post-uri}}">{{post-title}}</a> » {{post-description}}</li>
      {{/posts}}
    </ul>
  </div>
</div>
